body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.stats {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.leaderboard {
    margin-top: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #4c8c4a;  /* Earthy green tone */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
